
novaseq/data/generated_meta
novaseq/18S/**
!novaseq/18S/**/
!novaseq/18S/**/README.md
novaseq/.DS_Store
novaseq/scripts/.DS_Store
novaseq/.Rproj.user
novaseq/figures/
novaseq/novaseq_koster_2022_2023

novaseq/.DS_Store
post-processing/.DS_Store
novaseq/data/.DS_Store
.DS_Store
.vscode

lulu.log_20260112_140629

**/.DS_Store

openarms_container.def

metadata/generated_meta/18S_batch3.4.5.6-metadata.csv

sbatch_jobs