
Project_18S/novaseq/data/generated_meta
Project_18S/novaseq/18S/**
!Project_18S/novaseq/18S/**/
!Project_18S/novaseq/18S/**/README.md
Project_18S/novaseq/.DS_Store
Project_18S/novaseq/scripts/.DS_Store
Project_18S/novaseq/.Rproj.user
Project_18S/novaseq/figures/
Project_18S/novaseq/novaseq_koster_2022_2023

Project_18S/novaseq/.DS_Store
Project_18S/post-processing/.DS_Store
Project_18S/novaseq/data/.DS_Store
Project_18S/.DS_Store
Project_18S/.vscode

Project_18S/lulu.log_20260112_140629

Project_18S/**/.DS_Store

Project_18S/openarms_container.def

Project_18S/metadata/generated_meta/18S_batch3.4.5.6-metadata.csv