
novaseq/data/generated_meta
novaseq/18S/**
!novaseq/18S/**/
!novaseq/18S/**/README.md
novaseq/.DS_Store
novaseq/scripts/.DS_Store
novaseq/.Rproj.user
novaseq/figures/
novaseq/novaseq_koster_2022_2023

novaseq/.DS_Store
post-processing/.DS_Store
novaseq/data/.DS_Store
.DS_Store
.vscode

lulu.log_20260112_140629

**/.DS_Store

openarms_container.def

metadata/generated_meta/18S_batch3.4.5.6-metadata.csv

sbatch_jobs

# Files with taxonomy reference sets that are to big for GitHub
novaseq/Taxonomy_reference_sets/silva_nr99_v138.2_toSpecies_trainset.fa.gz
novaseq/Taxonomy_reference_sets/silva_132.18s.99_rep_set.dada2.fa.gz
novaseq/Taxonomy_reference_sets/pr2_version_5.1.1_SSU_dada2.fasta.gz

# Random big file
core